@media (min-width: 1400px)
{
    .container
    {
        #width: 85%;
    }

    #carousel .carousel-caption{
        bottom: 74px;
    }
}
@media (min-width: 768px) and (max-width: 1199px)
{
    .container {
        width: 100%;
    }
}
@media (max-width: 768px)
{
    #carousel .h3, h3{
        #font-size: 48px;
#}
}
#carousel .carousel-caption h3{
    padding-left: 5%;
    padding-right:12%;
}
body{
    word-wrap: break-word;
}
.sp .item{
    background-color: aqua;
}
#map{
    height: 700px;
}
#carousel img{
    #height: 600px;
    width: 100%;
    margin-left: 0px;
}
#carousel .lg{
    top: 10px;
    position: absolute;
    height: 10%;
    width: 8%;
    border-bottom-width: 10px;
}
#carousel .us{
    position: absolute;
    top: 4%;
    height: 49%;
    width: 81%;
    left: 12%;
}
#carousel .mk{
    position: absolute;
    top: 4%;
    height: 19%;
    width: 20%;
    right: 3%;
    z-index: 999;
}

#carousel .f_rus{
    position: absolute;
    top: 6%;
    left: 2%;
    height: 5%;
    width: 5%;
}
#carousel .f_us{
    position: absolute;
    top: 12%;
    left: 2%;
    height: 5%;
    width: 5%;
}

#carousel .carousel-caption{
    background: rgba(0, 0, 0, 0.42);
    right: 0%;
    left: 0;
    padding: 0;
    bottom: 87px;
}
#carousel .s_vk{
    position: absolute;
    top: 72%;
    height: 8%;
    width: 5%;
    right: 3%;
}
#carousel .s_fb{
    position: absolute;
    top: 81%;
    height: 8%;
    width: 5%;
    right: 3%;
}
#carousel .s_inst{
    position: absolute;
    top: 90%;
    height: 8%;
    width: 5%;
    right: 3%;
}

#carousel .glyphicon-chevron-left{
    top:85%;
    left:20%;
}
#carousel .glyphicon-chevron-right{
    top:85%;
    right:68%;
}
//#carousel .h3, h3{
//    font-size: 48px;
//}
.navbar-nav a, .event_timer{
    font-size: 20px;
}
 .event_timer{
    color: #777;
    text-align: center;
 }