{% extends 'event/program/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% block content %}
{% load i18n %}
    <div class="row">
        <div class="view">
            <div class="jumbotron">
                <p>{{ program.description|safe }}</p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}