{% extends 'sponsors/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% load i18n %}
{% block content %}
    {% for sponsor in sponsors %}
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="#" class="thumbnail">
                    <img src="media/{{ sponsor.image }}" alt="">
                </a>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h3>{{ sponsor.name }}</h3>
                <p class="clearfix">{{ sponsor.description|safe  }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}