{% extends 'gallery/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% load i18n %}
{% block content %}
<link href="{% static 'site/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'site/js/html5gallery/html5gallery.js' %}" type="text/javascript"></script>
<div class="row">
        <div  class="html5gallery" style="display:none;margin:0 auto;"
         data-skin="light"
        data-responsive="true"
        data-responsivefullscreen="true"
        data-showimagetoolbox="always"
        data-html5player="true"
        data-showfullscreenbutton="true"
        data-autoplayvideo="false"
        data-effect="fadeout"
        data-thumbshowplayonvideo="true"
        >
            {% for album in albums %}

                {% for photo in album.photos.all %}
                <a href="/media/{{ photo.image }}"><img src="/media/{{ photo.image }}" alt="{{ photo.title }}"/></a>
                {% endfor %}

                {% for video in album.videos.all %}
                 <a href="/media/{{ video.video_file }}"><img src="/media/{{ video.image }}" alt="{{ video.title }}"/></a>
                {% endfor %}
            {% endfor %}
        </div>
</div>
{% endblock %}