{% extends 'news/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% block content %}
{% load i18n %}
    <div class="row">
        <div class="view">
            <div class="jumbotron">
                <h2>{{ news.title }}</h2>
                <p>{{ news.full_description|safe }}</p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}