{% extends 'news/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% block content %}
{% load i18n %}
    <div class="row">
        {% for new in news %}
        <div class="view">
            <div class="jumbotron">
                <h2>{{ new.title }}</h2>
                <p>{{ new.short_description|safe }}</p>
                <p><a class="btn btn-primary btn-large" href="{{ new.get_absolute_url }}">{{ other_info.news_adv }}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if news.has_next %}
                <a href="?page={{ news.next_page_number }}">Показать еще</a>
            {% endif %}
        </span>
    </div>
{% endblock %}