{% load static from staticfiles %}
<!DOCTYPE html>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45817260 = new Ya.Metrika({ id:45817260, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45817260" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<head>
    {% block meta %}{% endblock %}
    <link rel="icon" href="{{ MEDIA_URL }}/common/favicon.ico" type="image/x-icon" />
    <script src="{% static 'site/js/jquery.min.js' %}" type="text/javascript"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'site/css/common.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/bootstrap-social.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'site/js/jquery.countdown.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/common.js' %}" type="text/javascript"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block top %}{% endblock %}
        {% block menu %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer%}{% endblock %}
    </div>
</body>