{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block meta %}
    <title>{{ meta_information.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{{ meta_information.description }}">
    <meta name="keywords" content="{{ meta_information.keywords }}">
{% endblock %}
{% block top %}
<div class="container_head">
        <div class="row">
            <div>
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                            <img src="/static/site/img/dgtu_1.jpg" alt="">
                            <a href="{{ other_info.mk_url }}" target="_blank"  class="mk">
                                <img src="/static/site/img/mk_2.png" class="img-responsive">
                            </a>
                            <img src="/static/site/img/us_3.png" class="img-responsive us">
                        {% for citem in citems %}
                            {% if forloop.first %}
                                <div class="item  active">
                            {% else %}
                                <div  class="item">
                            {% endif %}
                            <div class="carousel-caption">
                                <h3>{{ citem.name|safe  }}</h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        <a class="left carousel-control" href="#carousel" data-slide="prev"></a>
                        <a class="right carousel-control" href="#carousel" data-slide="next"></a>
                        <a href="/ru"><img src="/static/site/img/ru.jpg" class="img-responsive f_rus"></a>
                        <a href="/en"><img src="/static/site/img/us.jpg" class="img-responsive f_us"></a>
                        <a href="{{ other_info.s_url_vk }}" target="_blank"><img src="/static/site/img/s_vk.png" class="img-responsive s_vk"></a>
                        <a href="{{ other_info.s_url_fb }}" target="_blank"><img src="/static/site/img/s_fb.png" class="img-responsive s_fb"></a>
                        <a href="{{ other_info.s_url_inst }}" target="_blank"><img src="/static/site/img/s_inst.png" class="img-responsive s_inst"></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block menu %}
<span class="bfh-countries" data-country="US" data-flags="true"></span>
<div class="row">
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                    <ul class="nav navbar-nav">
                    {% for m in mmenu  %}
                        {%if m.name == "Турнир" or m.name == "Event" %}
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ m.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for m2 in menuevent.all %}
                                    <li><a href="/{{LANGUAGE_CODE}}/event{{ m2.get_absolute_url }}">{{ m2.name }}</a>
                                {% endfor %}
                            </ul>
                        {% elif m.name == "Галерея" or m.name == "Gallery"  %}
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ m.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for m3 in gallery_menu.all %}
                                    {% if forloop.last %}
                                        {% if m.name == "Галерея" %}
                                            <li><a href="/{{LANGUAGE_CODE}}/gallery/{{ m3.id }}">{{ m3.title }}</a>
                                            <li><a href="/{{LANGUAGE_CODE}}/gallery">Посмотреть все</a>
                                        {% else %}
                                            <li><a href="/{{LANGUAGE_CODE}}/gallery/{{ m3.id }}">{{ m3.title }}</a>
                                            <li><a href="/{{LANGUAGE_CODE}}/gallery">View all</a>
                                        {% endif %}
                                    {% else %}
                                        <li><a href="/{{LANGUAGE_CODE}}/gallery/{{ m3.id }}">{{ m3.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <li class=""><a href="/{{LANGUAGE_CODE}}{{ m.get_absolute_url }}"> {{ m.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                        </li>
                    </ul>
                </div>

                <p class="event_timer">{{ other_info.title }}
                    {% if other_info.date %}
                        <span id="t">{{ other_info.date|date:"Y/m/d H:i" }}</span>
                    {% endif %}
                </p>

            </div>
        </nav>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="row">
    <hr><hr>
    <h3 class="text-center">{{ other_info.partners_adv }}</h3>
    <div>
        {% for partner in partners %}
        <div class="col-md-2 col-sm-2 col-xs-3">
            <a href="{{ partner.url }}" target="_blank" class="thumbnail">
                <img src="/media/{{ partner.image }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
