{% extends 'event/venue/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% block content %}
{% load i18n %}
    <div class="row">
        <div class="view">
            <div class="jumbotron">
                <p>{{ venue.description|safe }}</p>
                </p>
            </div>
        </div>
    </div>
    <div class="row crow">
        <div class="col-md-12">
            <div class="text-justify">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <script>
      function initMap() {
        var ksk = {lat: 47.2262857, lng: 39.7489982};
        var plaza = {lat: 47.226122, lng: 39.7342229};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: 47.226122, lng: 39.7422229}
        });
        marker = new google.maps.Marker({
          position: ksk,
          map: map
        });
        marker = new google.maps.Marker({
          position: plaza,
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJg9hQUyM6FlYAAvnUMur151OG1q__31c&callback=initMap&language={{LANGUAGE_CODE}}&region={{LANGUAGE_CODE}}"
    async defer></script>
{% endblock %}


