{% extends 'partners/main.html' %}
{% load static from staticfiles %}
{% load i18n parler_tags %}
{% block content %}
{% load i18n %}
    {% for partner in partners %}
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="{{ partner.url }}" target="_blank" class="thumbnail">
                    <img src="/media/{{ partner.image }}" alt="">
                </a>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h3>{{ partner.name }}</h3>
                <p class="clearfix">{{ partner.description|safe  }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}